<a href="https://colab.research.google.com/github/maty91ok/Licienciatura-Ciencia-de-Datos/blob/main/trabajo_practico_02_HERRAMIENTAS%20DE%20SOFTWARE%20PARA%20AN%C3%81LISIS%20DE%20DATOS_Canevaro_Mat%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Práctico 2

# Ejercicio 1

Vamos a trabajar con el dataset [titanic.csv](https://drive.google.com/file/d/1X0hJDYfmBfB88t1A1DeXzPc5c_a0-YVu/view?usp=share_link) desde Google Drive.

## Punto 1

Descargar y levantar el dataset

In [ ]:
!pip install pandas

In [ ]:
import gdown
import pandas as pd

In [ ]:
df = pd.read_csv('df_titanic.csv')
df.head()

## Punto 2

Mostrar por pantalla los nombres (columnas Name) ordenados alfabéticamente y segmentado por clase (columna Pclass) y numerados desde 0 para cada clase.

Ejemplo:

Clase x

0 nombre

1 nombre

...


Clase y

0 nombre

1 nombre

...

In [ ]:
import pandas as pd

# Cargar el dataset titanic.csv
df = pd.read_csv('df_titanic.csv')

# Ordenar los nombres alfabéticamente
df_sorted = df.sort_values(by='Name')

# Agrupar por clase y mostrar los nombres numerados
for pclass, group in df_sorted.groupby('Pclass'):
    print(f"Clase {pclass}")
    for i, name in enumerate(group['Name']):
        print(f"{i} {name}")
    print("\n")


## Punto 3

Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron  (columna Survived).

El valor 1 indica que está sobrevivio y 0 no.

In [ ]:
import pandas as pd

# Cargar el dataset titanic.csv
df = pd.read_csv('df_titanic.csv')

# Calcular el porcentaje de personas que sobrevivieron y murieron
total_personas = len(df)
sobrevivieron = df['Survived'].sum()
murieron = total_personas - sobrevivieron

porcentaje_sobrevivieron = (sobrevivieron / total_personas) * 100
porcentaje_murieron = (murieron / total_personas) * 100

# Mostrar los resultados por pantalla
print(f"Porcentaje de personas que sobrevivieron: {porcentaje_sobrevivieron:.2f}%")
print(f"Porcentaje de personas que murieron: {porcentaje_murieron:.2f}%")

## Punto 4

Mostrar por pantalla el porcentaje de personas que sobrevivieron (columna Survived) en cada clase (columna Pclass).

El valor 1 indica que sobrevivio y 0 no.

In [ ]:
import pandas as pd

# Cargar el dataset titanic.csv
df = pd.read_csv('df_titanic.csv')

# Agrupar por clase y calcular el porcentaje de sobrevivientes en cada clase
porcentaje_sobrevivientes_por_clase = df.groupby('Pclass')['Survived'].mean() * 100

# Mostrar los resultados por pantalla
for pclass, porcentaje in porcentaje_sobrevivientes_por_clase.items():
    print(f"Porcentaje de sobrevivientes en la clase {pclass}: {porcentaje:.2f}%")

## Punto 5

Realizar un gráfico de barras horizontal con la cantidad de personas según la edad (columna Age). La franja es de 10 años, es decir, 0-9, 10-19, ..., 90-99.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Cargar el dataset titanic.csv
df = pd.read_csv('df_titanic.csv')

# Crear las franjas de edad
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

# Contar la cantidad de personas en cada franja de edad
age_group_counts = df['AgeGroup'].value_counts().sort_index()

# Graficar los resultados
age_group_counts.plot(kind='barh', color='skyblue')
plt.xlabel('Cantidad de Personas')
plt.ylabel('Franja de Edad')
plt.title('Cantidad de Personas según la Edad en Franjas de 10 Años')
plt.show()

# Ejercicio 2

Vamos a trabajar con el dataset [df_total.csv](https://drive.google.com/file/d/1lQv5L0uF7Gu4miEiQaxEMP2JHDLPHKIc/view?usp=share_link) desde Google Drive.

## Punto 1

Descargar y levantar el dataset

In [ ]:
import gdown
import pandas as pd

In [ ]:
df = pd.read_csv('df_total.csv')
df.head()

## Punto 2

Crear un columna `person` y completarla con la búsqueda de la  entidad persona dentro de la columna `news`. La entidad persona es un nombre y apellido.

Tiene que ser una aproximación. No va a ser perfecta por falta de contexto.

In [ ]:
pip install spacy

In [ ]:
import pandas as pd
import spacy

# Cargar el dataset
df = pd.read_csv('df_total.csv')

# Cargar el modelo de spaCy
nlp = spacy.load('en_core_web_sm')

# Función para extraer nombres de personas
def extract_person(text):
    doc = nlp(text)
    persons = [ent.text for ent in doc.ents if ent.label_ == 'PERSON']
    return ', '.join(persons) if persons else None

# Crear la nueva columna 'person' con los nombres extraídos
df['person'] = df['news'].apply(extract_person)

# Mostrar las primeras filas del DataFrame
print(df.head())

## Punto 3

Crear un columna `domain` y completarla con el dominio del sitio dentro de la columna `url`. Un dominio es `larepublica.co`.

In [ ]:
pip install tldextract

In [ ]:
import pandas as pd
import tldextract

# Cargar el dataset
df = pd.read_csv('df_total.csv')

# Función para extraer el dominio de una URL
def extract_domain(url):
    ext = tldextract.extract(url)
    return f"{ext.domain}.{ext.suffix}"

# Crear la nueva columna 'domain' con los dominios extraídos
df['domain'] = df['url'].apply(extract_domain)

# Mostrar las primeras filas del DataFrame
print(df.head())

## Punto 4

Crear una columna llamada `words` y contabilizar la cantidad de palabras que hay en la columna `news`.

In [ ]:
import pandas as pd

# Cargar el dataset
df = pd.read_csv('df_total.csv')

# Función para contar las palabras en un texto
def count_words(text):
    if pd.isna(text):
        return 0
    return len(text.split())

# Crear la nueva columna 'words' con el conteo de palabras
df['words'] = df['news'].apply(count_words)

# Mostrar las primeras filas del DataFrame
print(df.head())

## Punto 5

Realizar un gráfico de barras donde muestre la cantidad de noticias por tipo (columna Type).

In [ ]:
pip install seaborn

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Cargar el dataset
df = pd.read_csv('df_total.csv')

# Contar la cantidad de noticias por tipo
type_counts = df['Type'].value_counts()

# Crear el gráfico de barras
plt.figure(figsize=(10, 6))
sns.barplot(x=type_counts.index, y=type_counts.values, palette='viridis')
plt.title('Cantidad de noticias por tipo')
plt.xlabel('Tipo')
plt.ylabel('Cantidad de noticias')
plt.xticks(rotation=45)
plt.show()