<a href="https://colab.research.google.com/github/maty91ok/Licienciatura-Ciencia-de-Datos/blob/main/trabajo_practico_02_Cenevaro_Mat%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Práctico 2

# Ejercicio 1

Vamos a trabajar con el dataset [titanic.csv](https://drive.google.com/file/d/1X0hJDYfmBfB88t1A1DeXzPc5c_a0-YVu/view?usp=share_link) desde Google Drive.

## Punto 1

Descargar y levantar el dataset

## Punto 2

Mostrar por pantalla los nombres (columnas Name) ordenados alfabéticamente y segmentado por clase (columna Pclass) y numerados desde 0 para cada clase.

Ejemplo:

Clase x

0 nombre

1 nombre

...


Clase y

0 nombre

1 nombre

...


## Punto 3

Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron  (columna Survived).

El valor 1 indica que está sobrevivio y 0 no.

## Punto 4

Mostrar por pantalla el porcentaje de personas que sobrevivieron (columna Survived) en cada clase (columna Pclass).

El valor 1 indica que sobrevivio y 0 no.

## Punto 5

Realizar un gráfico de barras horizontal con la cantidad de personas según la edad (columna Age). La franja es de 10 años, es decir, 0-9, 10-19, ..., 90-99.

# Ejercicio 2

Vamos a trabajar con el dataset [df_total.csv](https://drive.google.com/file/d/1lQv5L0uF7Gu4miEiQaxEMP2JHDLPHKIc/view?usp=share_link) desde Google Drive.

## Punto 1

Descargar y levantar el dataset

## Punto 2

Crear un columna `person` y completarla con la búsqueda de la  entidad persona dentro de la columna `news`. La entidad persona es un nombre y apellido.

Tiene que ser una aproximación. No va a ser perfecta por falta de contexto.

## Punto 3

Crear un columna `domain` y completarla con el dominio del sitio dentro de la columna `url`. Un dominio es `larepublica.co`.

## Punto 4

Crear una columna llamada `words` y contabilizar la cantidad de palabras que hay en la columna `news`.

## Punto 5

Realizar un gráfico de barras donde muestre la cantidad de noticias por tipo (columna Type).